<div class="item-card card" style="width: 18rem">
    <img class="card-img-top" src="item-sprite" alt="Card image cap" />
    <div class="card-body">
        <h5 id="item-name" class="card-title"><!-- {{item.name}} --></h5>
        <p id="item-description" class="card-text">
            <!-- {{item.description}}-->
        </p>

        <a href="" id="item-button" class="btn btn-primary"> Add to cart! </a>
    </div>
</div>
