{{#each items as |item| }}
<div class="item-card card" style="width: 18rem">
    <img class="card-img-top" src="{{{item_sprites}}}" alt="Card image cap" />
    <div class="card-body">
        <h5 class="card-title">Items:{{item_name}}</h5>
        <p class="card-text">Type:{{item_type}}</p>
        <p class="card-text">Price:{{price}}</p>
        <a href="" id="pokemon-button" class="btn btn-primary">
            Add to cart!
        </a>
    </div>
</div>
{{/each}}