<div class="item-card card" style="width: 18rem">
    <img class="card-img-top" src="item-sprite" alt="Card image cap" />
    <div class="card-body">
        <h5 class="card-title"><!-- {{poke.name}} --></h5>
        <p class="card-text"><!-- {{poke.description}}--></p>

        <a href="" id="pokemon-button" class="btn btn-primary">
            Add to cart!
        </a>
    </div>
</div>
